[Desktop Entry]
Type=Application
Name=ACO Avrora
Name[ru]=АСО Аврора
Exec=/usr/bin/ARM_Student
Icon=ARM_Student
Terminal=false
Categories=Education;Network;
StartupWMClass=ARM_Student
