[Desktop Entry]
Type=Application
Name=ACO Avrora
Name[ru]=АСО Аврора
Comment=Automated Learning System
Comment[ru]=Автоматизированная система обучения
Exec=/usr/bin/ARM_Student
Icon=ARM_Student
Terminal=false
Categories=Education;
StartupWMClass=ARM_Student
